
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1e1f26;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    border: 2px solid #4dd0ff;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #1e1f26;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 250px;
}

.display {
    background-color: #4dd0ff;
    padding: 30px 60px;
    border-radius: 10px;
    font-size: 48px;
    font-weight: bold;
    color: black
}

.red {
    color: red
}

.button {
    display: flex;
    background-color: #4dd0ff;
    gap: 20px;
    padding: 10px;
    border: 2px solid #4dd0ff;
    border-radius: 10px;
}

input{
    border: 2px solid #4dd0ff;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    background-color: #4dd0ff;

}
.error-message {
    color: red;
}

.error {
    border: red 1px solid;
}

