
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #1e1f26; /* тёмный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    border: 2px solid #4dd0ff;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #1e1f26;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.display {
    background-color: #4dd0ff;
    padding: 30px 60px;
    border-radius: 10px;
    font-size: 48px;
    font-weight: bold;
    color: black
}

.red {
    color: red
}

.button-container {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 2px solid #4dd0ff;
    border-radius: 10px;
}